.git
.github
.gitignore

.venv
__pycache__
*.py[codz]
*$py.class

.env

tests
.pytest_cache
.ruff_cache
.coverage
.coverage.*
coverage.xml
htmlcov

storage
*.pdf

docs
*.md
.codegraph

.vscode
.idea
.DS_Store

docker-compose.yml
Dockerfile.*
docker
